/*
Variables
-------------------------------------
*/

$body-font: "Raleway", "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;

$light-grey : #898989;
$dark-grey: #333333;
$grey: #656565;
$grey2: #CBCBCB;
$primary-color: black;
$lighter-grey: #F1F1F1;
$orange : #ff9d1d;
$orange-hover : #F56B08;

//Media Queries

$xs: 767px;
